@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body:has([role="dialog"][aria-modal="true"]) {
  overflow: hidden;
}

@theme {
  --color-primary: #d97706;
  --color-primary-hover: #b45309;
  --color-primary-light: #fffbeb;
  --color-destructive: #dc2626;
  --color-destructive-hover: #b91c1c;
}
